.root {
  display: flex;
  flex-direction: column;
  color: var(--white-50);
  gap: 8px;
}

.select {
}

.select :global(.select__control) {
  background: var(--dark-4);
  border-radius: 8px;
  color: var(--white);
  font-size: 20px;
  padding: 6px 8px;
  cursor: text;
  height: 48px;
  border: none;
}

.select :global(.select__menu) {
  background: var(--dark-4);
  color: var(--white);
}

.select :global(.select__option) {
  background: var(--dark-4);
  color: var(--white);
  font-size: 18px;
  padding: 12px 16px;
  cursor: pointer;
}

.select :global(.select__option):hover {
  background: var(--dark-2);
}

.select :global(.select__option--is-selected) {
  background: var(--dark-2);
}

.select :global(.select__placeholder) {
  color: var(--white-50);
}

.select :global(.select__input-container) {
  color: var(--white);
}

.select :global(.select__indicator) {
  color: var(--white);
  cursor: pointer;
}

.select :global(.select__indicator-separator) {
  display: none;
}

.select :global(.select__single-value) {
  color: var(--white);
}

.select :global(.select__control--menu-is-open),
.select :global(.select__control--is-focused) {
  box-shadow: none;
}
