.wrapper {
  height: 130px;
  width: 380px;
  background: var(--dark-3);
  border-radius: 6px;
}

.content {
  display: flex;
  gap: 18px;
  width: 100%;
  margin: 0 20px;
  padding: 20px 0;
}

.playerLine {
  height: 10px;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.line-player-1 {
  background: var(--player-1);
}

.line-player-2 {
  background: var(--player-2);
}

.line-player-3 {
  background: var(--player-3);
}
