.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: calc(30vw + 45vw + 32px);
  height: 40px;
  margin-top: 6vh;
}

.nickname {
  margin-left: auto;
}

.icon {
  cursor: pointer;
}

.dialogButton {
  width: 100%;
}
