.wrapper {
  width: 874px;
  display: flex;
  gap: 16px;
}

.bar {
  border-radius: 8px;
  height: 42px;
  padding-top: 6px;
  box-sizing: border-box;
  overflow: hidden;
}

.player-1 {
  background: var(--player-1);
}

.player-2 {
  background: var(--player-2);
}

.player-3 {
  background: var(--player-3);
}
