.tableWrapper {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.tableContent {
  max-height: 66vh;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  position: sticky;
  top: 0;
  background: var(--dark-2);
  text-align: left;
  box-shadow: 0 1px 0 var(--dark-4), var(--soft-shadow);
  z-index: 2;
}

.thead > tr {
  border-radius: 8px;
}

.thead > tr > th {
  padding: 24px 20px;
  font: var(--font-regular);
  width: 20%;
}

.tbody > tr {
  transition: background-color 0.2s;
}

.tbody > tr:nth-child(even) {
  background: var(--dark-3);
}

.tbody > tr:nth-child(odd) {
  background: var(--dark-2);
}

.tbody > tr:hover {
  cursor: pointer;
  background: var(--dark-4);
}


.tbody > tr > td {
  padding: 20px;
  width: 20%;
}

