.icon {
  display: inline-flex;
  align-items: center;
}

.white {
  fill: var(--white);
}

.white-50 {
  fill: var(--white-50);
}

.gold {
  fill: var(--player-3);
}

.gold-50 {
  fill: var(--player-3);
  opacity: 50%;
}
