.button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 10px 24px;
  transition: all 0.2s;
}

.button:disabled {
  cursor: auto;
}

/** default */
.default {
  background: none;
  color: var(--white);
}

.default:hover {
  background: var(--dark-6);
}

/* regular */
.regular {
  background: var(--dark-1);
  color: var(--white);
}

.regular:disabled {
  background: var(--dark-5);
  color: var(--gray-1);
}

.regular:hover:enabled {
  background: var(--dark-6);
}

/* primary */
.primary {
  background: var(--player-1);
  color: var(--white);
}

.primary:hover {
  background: var(--player-1-hover);
}

.primary:disabled {
  opacity: 50%;
}

.primary:disabled:hover {
  background: var(--player-1);
  opacity: 50%;
}

/* Size */
.normal {
  font-size: 20px;
  line-height: 140%;
}

.disabled {
  background: var(--dark-5);
  color: var(--gray-1);
}
