/* map */
.map {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: -24px;

  -moz-transform-origin: 50% 100%;
  -moz-transform: perspective(450px) rotateX(15deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: perspective(450px) rotateX(15deg);
  transform-origin: 50% 100%;
  transform: perspective(450px) rotateX(15deg) scale(1.5);
}

/* row */
.row {
  display: flex;
}

.topMarginRow {
  margin-top: -24px;
  pointer-events: none;
}

.evenRow {
  margin-left: 44px;
}

/* cell */

.cell {
  transition: all 0.3s;
  cursor: not-allowed;
  pointer-events: visibleFill;
}

.none {
  fill: var(--dark-1);
}

.empty {
  fill: var(--dark-2);
}

.player-1 {
  fill: var(--player-1);
}

.player-2 {
  fill: var(--player-2);
}

.player-3 {
  fill: var(--player-3);
}

.canMove {
  fill: var(--dark-3);
  filter: brightness(125%);
  cursor: pointer;
}

.canMove-player-1:hover {
  fill: var(--player-1);
  filter: brightness(80%);
}

.canMove-player-2:hover {
  fill: var(--player-2);
  filter: brightness(80%);
}

.canMove-player-3:hover {
  fill: var(--player-3);
  filter: brightness(80%);
}
