@font-face {
  font-family: 'Rubik-Regular';
  src: local('Rubik-Text-Regular'),
  url('./Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: local('Rubik-Text-Bold'),
  url('./Rubik-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}