.root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  width: calc(30vw + 45vw + 33px);
}

.inputContainer {
  display: flex;
  gap: 20px;
}

.input {
  width: 50%;
}

.selectWrapper {
  width: 50%;
}
