.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.body {
  display: flex;
  gap: 34px;
  height: 82vh;
}

/* Лобби */
.lobbys {
  width: 45vw;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.lobbysContainer {
  height: 100%;
}

.divider {
  margin-bottom: 16px;
}

.createLobbybutton {
  width: 100%;
  margin-top: auto;
}
