.wrapper {
  width: 100vh;
  height: 100vh;
}

.modal {
  max-width: 1130px;
  padding: 36px;
}

.question {
  margin-bottom: 42px;
}

.body {
  display: grid;
  gap: 28px;
  grid-template-columns: 540px 540px;
}

.button {
  min-width: 520px;
  font-family: var(--font-bold);
}
