.white {
  color: var(--white);
}

.white-70 {
  color: var(--white-70);
}

.dark-2 {
  color: var(--dark-2);
}

.disabled {
  color: var(--gray-1);
}

.opacity-50 {
  opacity: 50%;
}

.lh {
  line-height: 140%;
}

.caption {
  font-size: 18px;
}

.caption-1 {
  font-size: 16px;
}

.caption-2 {
  font-size: 14px;
}

.text-0 {
  font-size: 20px;
}

.text-1 {
  font-size: 22px;
}

.text-2 {
  font-size: 26px;
}

.text-3 {
  font-size: 34px;
}

.weight-regular {
  font-family: var(--font-regular);
}

.weight-bold {
  font-family: var(--font-bold);
}
