.button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 10px;
  transition: all 0.2s;
}

/* Type */
.regular {
  background: var(--dark-1);
  color: var(--white);
}

.regular:hover {
  background: var(--dark-6);
}

.primary {
  background: var(--player-1);
  color: var(--white);
}

.primary:hover {
  background: var(--player-1-hover);
}

/* Size */
.normal {
  font-size: 22px;
  line-height: 140%;
}

.disabled {
  background: var(--dark-5);
  color: var(--gray-1);
}
