@import './fonts/fonts.css';

:root {
  /* тёмный */
  --dark-1: #07121b;
  --dark-2: #233c4e;
  --dark-3: #274357;
  --dark-4: #32546c;
  --dark-5: #162b3c;
  --dark-6: #0a1d2c;

  /* игроки */
  --player-3: #ffc05f;
  --player-2: #ff826e;
  --player-2-hover: #de6754;
  --player-1: #3096e1;
  --player-1-hover: #1f75b3;

  /* серый */
  --gray-1: rgba(230, 230, 230, 0.3);

  /* белый */
  --white: #ffffff;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-50: rgba(255, 255, 255, 0.5);

  /* черный */
  --black-50: rgba(0, 0, 0, 0.5);

  /* Шрифты */
  --font-regular: 'Montserrat-Regular', sans-serif;
  --font-bold: 'Montserrat-Bold', sans-serif;

  /* Тени */
  --white-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--dark-1);
  font-family: var(--font-regular);
}
