.label {
  padding-bottom: 20px;
  cursor: pointer;
}


.checkInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkIcon {
  margin-top: 5px;
  margin-right: 5px;
}

.checkBox {
  position: absolute;
  width: 26px;
  height: 26px;
  background: var(--dark-4);
  border-radius: 6px;
}

.checkInput:disabled + .checkBox{
  opacity: 50%;
  cursor: not-allowed;
}


.checkInput:checked + .checkBox {
  background: var(--player-1);
}

/*TODO*/

/*.checkInput:focus + .checkBox {*/
/*  background: var(--player-1);*/
/*}*/

/*.checkInput:focus:checked + .checkBox {*/
/*  background: var(--player-1);*/
/*}*/
