/* map */
.map {
  display: flex;
  flex-direction: column;
  margin: auto;

  -moz-transform-origin: 50% 100%;
  -moz-transform: perspective(450px) rotateX(15deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: perspective(450px) rotateX(15deg);
  transform-origin: 50% 100%;
  transform: perspective(450px) rotateX(15deg) scale(1.5);
}

/* row */
.row {
  display: flex;
  position: relative;
}

.topMarginRow {
  margin-top: -24px;
}

.evenRow {
  margin-left: 44px;
}

/* cell */
.none {
  fill: var(--dark-1);
}

.empty {
  fill: var(--dark-3);
}

.player-1 {
  fill: var(--player-1);
}

.player-2 {
  fill: var(--player-2);
}

.player-3 {
  fill: var(--player-3);
}

*:is(.empty, .player-1, .player-2, .player-3):hover {
  filter: brightness(150%);
  /* TODO Доделать отображение при наведении на клетку, которую можно захватить */
  cursor: crosshair
}
